.card{
    /* border: 1px solid black; */
    overflow: hidden;
    border-radius: 8px;
    height: 550px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
 
    
}
.oneofakind{
    width: 80% ;
    margin: 0 auto;
   
    margin-top: 50px;
 

}
.slick-slide >div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}
.card-top{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-top > img{
    width: 90%;
    height: 70%;
    object-fit: cover;
    /* border: 1px solid red; */
    align-items: center;
    margin: auto;
}
.card-bottom{
    justify-content: center;
}